
<%= simple_form_for(@shot) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="columns is-centered">
    <div class="column is-6">


      <div class="field">
        <%= f.label :user_shot %>
        <%= f.file_field :user_shot %>
      </div>

      <% if @shot.user_shot.present? %>
        <%= image_tag @shot.user_shot.url %>
      <% end %>


    <div class="field">
      <label class="label">
        <%= f.label :title %>
      </label>
      <div class="control">
        <%= f.text_field :title, class: "input", placeholder: "Title" %>
      </div>
    </div>

    <div class="field">
      <label class="label">
        <%= f.label :description %>
      </label>
      <div class="control">
        <%= f.text_area :description, class: "textarea", placeholder: "Description", rows: 10 %>
      </div>
    </div>
  
    <div class="control">
      <%= f.submit "Submit", class: "button is-primary" %>
    </div>
    <%= link_to 'Back', shots_path %>
  </div>

<% end %>
