<div class="columns is-multiline">
  
  <% @shots.each do |shot| %>
    <div class="column is-4-desktop is-6-tablet">
      <%= link_to shot do %>
        <div class="card nuri-card ">
          <div class="card-image ">
            <figure class="image is-rounded">
              <%= image_tag(shot.user_shot.full.url, class:"nuri-card") %>
            </figure>
          </div>
          <div class="level is-mobile ">
            <div class="level-left">
              <figure class="level-item image is-rounded">
                <%= gravatar_image_tag(shot.user.email.gsub('spam', 'mdeering'), alt: shot.user.name, gravatar: { size: 20}, class: "is-rounded") %>
              </figure>
              <span class='title is-6 level-item'>  <%= shot.user.name %></span>
            </div>

            <div class="level-right">
              <%= link_to shot, class:"level-item" do %>
                <span class='icon'><i class="fa fa-eye"></i></span>
                34
              <% end %>
              <%= link_to shot, class:"level-item" do %>
                <span class='icon'><i class="fa fa-comment"></i></span>
                15
              <% end %>
              <%= link_to shot, class:"level-item" do %>
                <span class='icon'><i class="fa fa-heart"></i></span>
                8
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>