<div class="columns is-multiline ">
  
  <% @shots.each do |shot| %>
    <div class="column is-3-desktop is-6-tablet pb-1">
      <%= link_to shot do %>
        <div class="card nuri-card ">
          <div class="card-image ">
            <figure class="image is-rounded">
              <%= image_tag(shot.user_shot.full.url, class:"nuri-card") %>
            </figure>
          </div>
          <div class="level is-mobile ">
            <div class="level-left">
              <figure class="level-item image is-rounded">
                <%= gravatar_image_tag(shot.user.email.gsub('spam', 'mdeering'), alt: shot.user.name, gravatar: { size: 20}, class: "is-rounded") %>
              </figure>
              <span class='title is-6 level-item'>  <%= shot.user.name %></span>
            </div>

            <div class="level-right">
            
              <%= link_to shot, class:"level-item" do %>
                <span class='icon'><i class="fa fa-eye"></i></span>
                <%= shot.impressionist_count %>
              <% end %>

              <%= link_to shot, class:"level-item" do %>
                <span class='icon'><i class="fa fa-comment"></i></span>
                <%= shot.comments.count %>
              <% end %> 

              <% if user_signed_in? %>
                <% if current_user.liked? shot %>
                  <%= link_to unlike_shot_path(shot), method: :put, class:"unlike_shot level-item" do %>
                    <span class='icon'><i class="fa fa-heart has-text-primary"></i></span>
                    <%= shot.get_likes.size %>
                  <% end %>
                <% else %>
                  <%= link_to like_shot_path(shot), method: :put, class:"like_shot level-item" do %>
                    <span class='icon'><i class="fa fa-heart"></i></span>
                    <%= shot.get_likes.size %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to like_shot_path(shot), method: :put, class:"like_shot level-item" do %>
                  <span class='icon'><i class="fa fa-heart"></i></span>
                  <%= shot.get_likes.size %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>